{
    ApplicationDescription = "A GNUstep volume management application.";
    ApplicationIcon = "AppIcon.tiff";
    ApplicationName = VolumeManager;
    ApplicationRelease = 0.4.0;
    Authors = ("Andreas Schik <andreas@schik.de>");
    Copyright = "Copyright (C) 2007-2012 by Andreas Schik";
    CopyrightDescription = "Released under GPL";
    FullVersionID = 0.4.0;
    URL = "http://www.andreasheppel.de";
}

